<div class="w-100 link-bar">
  <%= link_to 'Home', root_path %>
</div>

<section>
  <div>
    <%= link_to 'Novo acesso', new_take_away_store_profile_path(@take_away_store) %>
  </div>

  <div>
    <% if @profiles.present? %>
      <% @profiles.each do |profile| %>
        <p><strong><%= profile.email %></strong> - <%= Profile.human_attribute_name(profile.status) %></p>
      <% end %>
    <% end %>
  </div>
</section>