<div>
  <span><%= menu.name %></span>
  <span>Adicionado em <%= l(menu.created_at, format: "%d/%m/%Y") %></span>
  <span><%= menu.description %></span>
  <span><%= menu.calories %> Calorias</span>
</div>