<section>
  <%= link_to 'Novo Prato', new_take_away_store_dish_path(@take_away_stores) %>
</section>
<section>
  <%= link_to 'Nova Bebida', new_take_away_store_beverage_path(@take_away_stores) %>
</section>