<section class="container row mt-3">
  
  <div class="col">

  </div>
  <div class="col">
    <% if @query.blank? %>
      <%= @results %>
    <% else %>
      <p>Resultados para <%= @query %></p>
      <%= render 'items/items', items: @results, take_away_store: @take_away_store, query: @query %>
    <% end %>
  </div>
</section>