<% if object.errors.any? %>
  <p class="bg-info"><%= t('errors.alert', count: object.errors.count ) %></p>
  <% object.errors.full_messages.each do |msg| %>
    <div class="bg-info">
      <%= msg %>
    </div>
  <% end %>
<% end %>