<div class="flashs">
  <% if notice %>
    <div class="bg-notice">
      <%= notice %>
      <%= image_tag 'close_icon', id: 'close_icon' %>
    </div>
  <% end %>

  <% if alert %>
    <div class="bg-alert">
      <%= alert %>
      <%= image_tag 'close_icon', id: 'close_icon' %>
    </div>
  <% end %>
</div>

