
<% if notice %>
  <div class="flashs container">
    <div class="bg-notice">
      <%= notice %>
      <%= image_tag 'close_icon', class: 'close-icon' %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="flashs container">
    <div class="bg-alert">
      <%= alert %>
      <%= image_tag 'close_icon', class: 'close-icon' %>
    </div>
  </div>
<% end %>

<script>
  document.querySelectorAll('.close-icon').forEach(function(icon) {
    icon.addEventListener('click', function(event) {
      var messageContainer = event.target.closest('div');
      messageContainer.style.display = 'none';
    });
  });
</script>
