<section class="row">
  <div class="col">
    <%= link_to t('user.i_am', name: Owner.model_name.human), new_owner_registration_path, class: 'btn btn-primary' %>
  </div>
  <div class="col">
    <%= link_to t('user.i_am', name: Employee.model_name.human ), new_employee_registration_path, class: 'btn btn-primary' %>
  </div>
</section>