<section class="row">
  <div class="col">
    <%= link_to 'Sou Proprietário', new_owner_registration_path, class: 'btn btn-primary' %>
  </div>
  <div class="col">
    <%= link_to 'Sou Funcionário', new_employee_registration_path, class: 'btn btn-primary' %>
  </div>
</section>