<section class="row logo">
  <% if (owner_signed_in? || employee_signed_in?) && @take_away_store.id.present? %>
    <%= render 'home/dashboard' %>

  <% else %>
    <div class="col">
      <div class="home-logo">
        <h1>Paleva</h1>
        <h2 >Take Away Store</h2>
      </div>
      <%= image_tag 'homepage', class: 'homepage' %>
    </div>
  <% end %>
</section>
