<section class="row logo">
  <% if (owner_signed_in? || employee_signed_in?) && @take_away_store.id.present? %>
    <%= render 'home/dashboard' %>

  <% else %>
    <div class="col">
      <h2>Palevá</h2>
      <h3>Take Away Store</h3>

      <div>
        <h4>Monte seu cardápio</h4>
        <%= image_tag 'example', class: 'example' %>
      </div>
    </div>

    <div class="col">
      <%= image_tag 'capi.png', class: 'logo_img' %>
    </div>
  <% end %>
</section>
