<section class="row">
  <% if (owner_signed_in? || employee_signed_in?) && @take_away_store.id.present? %>
    <%= render 'home/dashboard' %>

  <% else %>
    <div>
      <h1>Palevá</h1>
      <h2>Take Away Store</h2>
    </div>

    <div>
      <%= link_to new_owner_registration_path do %>
        <h6>Seja um Estabelecimento parceiro</h6>
      <% end %>
    </div>
  <% end %>
</section>


