<div>
  <div>
    <div>
      <h2>Pedidos aguardando confirmação</h2>
    </div>
    <div>
      <% @orders.each do |order| %>
        <p>Cliente: <%= order.name %></p>
        <p>Pedido - <%= order.code %></p>
        <p>Solicitado em <%= order.created_at_current.strftime("%d/%m/%Y %H:%M") %></p>
      <% end %>
    </div>
  </div>
</div>