<% if items.any? %>
  <% items.each do |item| %>
    <%= link_to take_away_store_item_path(item.take_away_store, item) do %>
      <span><%= item.name %></span>
    <% end %>
  <% end %>
<% else %>
  <% if action_name == 'search' %>
    <p><%= t('query.not_found', query: query )%></p>
  <% else %>
    <p>Nenhum item cadastrado</p>
  <% end %>
<% end %>