@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #343C54;
}

a {
  color: #183eb1;
}

a:hover {
  color: blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
}

.fixed-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.img-icon {
  width: 10rem;
}

.img-icon:hover {
  filter: brightness(60%);
  transition: 0.8s, ease-in-out;
}

.item-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}


.item-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.img-brand img {
  height: 70px;
}

nav {
  max-height: 100px;
  width: 100%;
  font-size: 0.9rem;
}

.close_icon {
  max-width: 20px;
}

.tag {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}

.tag button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.group-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;
  gap: 8px;
  height: 5rem;
}

.list-items {
  max-height: 21rem;
}


.list-portions {
  max-height: 10rem;
  padding: 1rem;
}

#item-portions {
  width: max-content;
}

.item-portions__form {
  max-width: max-content;
}

.box-item__description {
  max-width: max-content;
  height: 8rem;
}

.item-card {
  width: 10rem;
  margin: 5px;
}

.item-card-list {
  width: 4rem;
  margin: 5px;
}

.historical-list {
  height: 10rem;
  width: 30rem;
}

.flashs {
  position: fixed;
  width: 30rem;
  top: 5rem;
  left: 10rem;
  height: 4rem;
  z-index: 1000;
}

.bg-notice, .bg-alert {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.bg-notice img, .bg-alert img {
  max-width: 1rem;
}

.bg-notice {
  background-color: #99dba9; 
  color: #07571a;
}

.bg-alert {
  background-color: #cf989d;
  color: #64121a;
}

.navbar-collapse {
  background-color: #f8f9fa;
  justify-content: start;
  align-items: start;
  align-content: start;
}

.menu {
  background-color: #ffffff;
  border-radius: 8px;
}

#items {
  padding: 1rem;
}

.form-container {
  margin-bottom: 1rem;
}

.menu-body {
  max-height: 25rem;
  overflow-y: auto;
  border-top: 1px solid #c01212;
  padding: 0.5rem;
  margin-top: 1rem;
}

.menu-list {
  max-height: 80vh;
  overflow-y: auto;
}

.form-input-search {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0.3rem;
}

.form-text-search {
  border: none;
  outline: none;
  height: 30px;
}

.search-img {
  width: 20px;
}

.search-form{
  margin-right: auto;
}

.dropdown-icon, .user-icon {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 1rem;
}

.dropdown-icon a {
  color: #343C54;
  margin-left: 0.5rem;
}

.dropdown-icon:hover {
  background-color: #f5f1f1;
  transition: background-color 0.3s ease;
}

.dropdown-img-icon, .user-img-icon {
  width: 22px;
  margin-left: 0.3rem;
}

.add-link {
  display: flex;
  width: 9rem;
  height: 2.2rem;
  align-self: center;
  align-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
}

.add-link:hover{
  background-color: #eaecee;
  transition: 0.4s ease-in-out;
}

.add-link img {
  width: 25px;
}

.area-dropdown{
  width: 13rem;
}
