@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #ad1f1f;
  --secondary-color: #db3333;
  --primary-color-action: #771313;
}
.btn-primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--primary-color-action) !important;
  border-color: var(--primary-color-action) !important;
}

.dropdown-menu .btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff !important;
}

.dropdown-menu .btn-primary:hover,
.dropdown-menu .btn-primary:focus,
.dropdown-menu .btn-primary:active,
.dropdown-menu .btn-primary.active {
  background-color: var(--primary-color-action) !important;
  border-color: var(--primary-color-action) !important;
  color: #fff !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5) !important;
}

.navbar-expand-lg, .bg-body-tertiary, .navbar {
  background-color: var(--secondary-color) !important;
}

.nav-link, .btn {
  color: #f1eded !important;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #343C54;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-action);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
}

.fixed-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.img-icon {
  width: 10rem;
}

.img-icon:hover, .item-radius-img:hover {
  filter: brightness(60%);
  transition: 0.8s, ease-in-out;
}

.item-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}


.item-radius-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.img-brand img {
  height: 50px;
}

nav {
  height: 60px;
  width: 100%;
  font-size: 0.8rem;
  padding: 0;
}

nav .btn {
  font-size: 0.8rem;
}

.close_icon {
  max-width: 20px;
}

.tag {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}

.tag button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.group-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;
  gap: 8px;
  height: 5rem;
}

.list-items {
  max-height: 21rem;
}


.list-portions {
  max-height: 10rem;
  padding: 1rem;
}

#item-portions {
  width: max-content;
}

.item-portions__form {
  max-width: max-content;
}

.box-item__description {
  max-width: max-content;
  height: 8rem;
}

.item-card {
  width: 10rem;
  margin: 5px;
}

.item-card-list {
  width: 4rem;
  margin: 5px;
}

.historical-list {
  height: 10rem;
  width: 30rem;
}

.flashs {
  position: fixed;
  width: 30rem;
  top: 3rem;
  left: 10rem;
  height: 4rem;
  z-index: 1000;
}

.bg-notice, .bg-alert {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.bg-notice img, .bg-alert img {
  max-width: 1rem;
}

.bg-notice {
  background-color: #99dba9; 
  color: #07571a;
}

.bg-alert {
  background-color: #cf989d;
  color: #64121a;
}

.navbar-collapse {
  background-color: var(--secondary-color);
  justify-content: start;
  align-items: start;
  align-content: start;
}

.menu {
  background-color: #ffffff;
  border-radius: 8px;
}

#items {
  padding: 1rem;
}

.form-container {
  margin-bottom: 1rem;
}

.menu-body {
  max-height: 25rem;
  border-top: 1px solid #c01212;
  padding: 0.5rem;
  margin-top: 1rem;
}

.menu-list {
  max-height: 90vh;
  position: fixed;
  overflow-y: auto;
  width: 40rem;
  top: 2rem;
  left: 18rem;
  display: flex;
}

.menu-list-items {
  min-width: 32rem ;
}

.form-input-search {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0.3rem;
}

.form-text-search {
  border: none;
  outline: none;
  height: 30px;
}

.search-img {
  width: 20px;
}

.search-form{
  margin-right: auto;
}

.dropdown-icon, .user-icon {
  display: flex;
  align-items: center;
}

.dropdown-icon a {
  color: #343C54;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.dropdown-icon:hover {
  background-color: #f5f1f1;
  transition: background-color 0.3s ease;
}

.dropdown-img-icon, .user-img-icon {
  width: 22px;
  margin-left: 0.3rem;
}

.add-link {
  display: flex;
  width: 9rem;
  height: 2.2rem;
  align-self: center;
  align-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
}

.add-link:hover{
  background-color: #eaecee;
  transition: 0.4s ease-in-out;
}

.add-link img {
  width: 25px;
}

.area-dropdown{
  width: 13rem;
}

.aside {
  padding-top: 5rem;
  padding-left: 2rem;
  position: fixed;
  height: 100vh;
  width: 20rem;
  left: 0;
  top: 0;
  z-index: -1;
}

.backgroud-aside {
  z-index: -50;
}

.aside-dashboard {
  width: 30rem;
}

.more-img {
  display: float;
  width: 7rem;
}

.cart-form {
  max-height: 90vh;
  position: fixed;
  overflow-y: auto;
  width: 40rem;
  top: 8rem;
  left: 18rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form-menu-item {
  width: 13rem;
}

.cart {
  width: 15rem;
  margin-top: 1rem;

}
.cart-list {
  overflow-y: auto;
  height: 10rem;
  margin-top: 2rem;
}

.cart-item {
  margin-top: 0.5rem;
  line-height: 1rem;
}

.logo_img {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: 30rem;
}

.example {
  margin-top: 5rem;
  width: 30rem;
  transform-origin: top left;
  transform: rotate(-10deg);
}